#define SEC_SYM_LAYER   EXTRA_LAYERS_START_INDEX
#define SYM_ALT &EZ_SK(RALT)
#define SYM_ALT_NAV &EZ_SL(SEC_SYM_LAYER) 


/ {
  behaviors {
    dot_mod: dot_mod {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&dot_ralt>, <&kp N>;
      mods      = <(MOD_LCTL|MOD_RCTL|MOD_LGUI|MOD_RGUI|MOD_LALT|MOD_LSFT|MOD_RSFT)>;
      keep-mods = <(MOD_LCTL|MOD_RCTL|MOD_LGUI|MOD_RGUI|MOD_LALT|MOD_LSFT|MOD_RSFT)>;
    };	  
    dot_ralt: dot_ralt {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp N>, <&colon>;
      mods = <(MOD_RALT)>;
    };	
    colon: colon {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      tap-ms = <0>;
      wait-ms = <0>;
      bindings = <&kp RA(SPACE) &kp RA(N)>;
    };
  };
};

&base_layer {
  display-name = "Base";
  bindings = <
    &kp BSLH   &kp Q  &kp W  &kp E  &kp R  &kp T        &kp Y       &kp U  &kp I     &kp O   &kp P      &kp LBKT
    &kp NUBS   HRM_A  HRM_S  HRM_D  HRM_F  &kp G        &kp H       HRM_J  HRM_K     HRM_L   HRM_SEMI   &kp SQT
    &kp RBKT   &kp Z  &kp X  &kp C  &kp V  &kp B        &dot_mod  &kp M  &kp COMMA &kp DOT &kp FSLH   &kp RA(NUBS)
            LTHUMB_TUCK  LTHUMB_HOME  LTHUMB_REACH    RTHUMB_REACH  RTHUMB_HOME  RTHUMB_TUCK
  >;
};

&num_row_layer {
  display-name = "NumRow";
    bindings = <
      &kp RS(GRAVE) &kp RS(N1) &kp RS(N2) &kp RS(N3) &kp RS(N4) &kp RS(N5)       &kp LS(N6) &kp LS(N7) &kp LS(N8) &kp LS(N9) &kp LS(N0)    &kp LS(MINUS)
      &kp GRAVE     &kp N1     &kp N2     &kp N3     &kp N4     &kp N5           &kp N6     &kp N7     &kp N8     &kp N9     &kp N0        &kp MINUS
      &trans        &none      &none      &none      &none      &none            &none      &none      &none      &none      &kp LS(EQUAL) &kp EQUAL
                                   &EZ_SK(RALT)  &kp RS(SPACE) &trans           &trans  &kp LS(SPACE) &EZ_SK(RALT)
    >;
  };

/ {
  keymap {
    compatible = "zmk,keymap";

    sec_sym_layer: secundary_sym_layer {
      display-name = "Symbols";
      bindings = <
        &none  S_CARET S_LT    S_GT    S_DLLR  S_PRCNT       S_AT    S_AMPS  S_STAR  S_SQT   S_GRAVE  S_MONEY
        &none  S_LBRC  S_LPAR  S_RPAR  S_RBRC  S_EQUAL       S_BSLH  S_PLUS  S_MINUS S_FSLH  S_DQT    S_DEGRE
        &none  S_TILDE S_LBKT  S_RBKT  S_UNDER S_HASH        S_PIPE  S_EXCL  S_SEMI  S_COLON S_QMARK  &kp RA(X)
                    &kp SPACE  &kp BACKSPACE  &kp ENTER     &trans  &kp RALT  &trans
      >;
    };
  };
};