#define ODK_LAYER        EXTRA_LAYERS_START_INDEX
#define ODK_SHIFT_LAYER (EXTRA_LAYERS_START_INDEX + 1)

&base_layer {
  display-name = "Base";
  bindings = <
    &kp BSLH   &kp Q  &kp W  &kp E    &kp R  &kp T        &kp Y    &kp U  &kp I     &kp O   &kp P      &kp LBKT
    &kp NUBS   HRM_A  HRM_S  HRM_D    HRM_F  &kp G        &kp H    HRM_J  HRM_K     HRM_L   HRM_SEMI   &kp SQT
    &kp RBKT   &kp Z  &kp X  &hyphen  &kp V  &kp B        &kp N    &kp M  &kp COMMA &odk    &kp FSLH   &kp RA(NUBS)
              LTHUMB_TUCK  LTHUMB_HOME  LTHUMB_REACH    RTHUMB_REACH  RTHUMB_HOME  RTHUMB_TUCK
  >;
};

&num_row_layer {
  display-name = "NumRow";
    bindings = <
      &kp RS(GRAVE) &kp RS(N1) &kp RS(N2) &kp RS(N3) &kp RS(N4) &kp RS(N5)       &kp LS(N6) &kp LS(N7) &kp LS(N8) &kp LS(N9) &kp LS(N0)    &kp LS(MINUS)
      &kp GRAVE     &kp N1     &kp N2     &kp N3     &kp N4     &kp N5           &kp N6     &kp N7     &kp N8     &kp N9     &kp N0        &kp MINUS
      &trans        &none      &none      &none      &none      &none            &none      &none      &none      &none      &kp LS(EQUAL) &kp EQUAL
                                   &EZ_SK(RALT)  &kp RS(SPACE) &trans           &trans  &kp LS(SPACE) &EZ_SK(RALT)
  >;
};

/ {
  behaviors {
    TWO_LEVEL_KEY(hyphen, S_HYPHEN, &colon)
    TWO_LEVEL_KEY(odk, &osl ODK_LAYER, &odk_shift)
    UNSTICK(odk_shift, &odks)
    TWO_LEVEL_KEY(odks, &sks_odk, &osl ODK_SHIFT_LAYER)
    SAME_KEY(lquote, &kp N2)
    SAME_KEY(lpar, &kp N4)
    SAME_KEY(rquote, &kp N9)
    SAME_KEY(rpar, &kp N7)
    TWO_LEVEL_KEY(diar, &kp RA(L), &dkl LS(L))
    TWO_LEVEL_KEY(bang, &kp RA(DOT), &intbang)
    TWO_LEVEL_KEY(comment, &comma ENTER, &excl ENTER)
    TWO_LEVEL_KEY(commsp, &comma SPACE, &excl SPACE)
    TWO_LEVEL_KEY(commtab, &comma TAB, &excl TAB)
	
   sks_odk: stick_shift_odk {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      tap-ms = <0>;
      wait-ms = <0>;
      bindings = <&osl ODK_LAYER>, <&osm LSHIFT>;
    };

    colon: colon {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      tap-ms = <0>;
      wait-ms = <0>;
      bindings = <&kp RA(SPACE) &kp RA(N)>;
    };
    
    intbang: intbang {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      tap-ms = <0>;
      wait-ms = <0>;
      bindings = <&kp LS(SPACE) &kp LS(RA(DOT))>;
    };
  
    comma: comma {
      compatible = "zmk,behavior-macro-one-param";
      #binding-cells = <1>;
      tap-ms = <0>;
      wait-ms = <0>;
      bindings = 
        <&kp DOT>, 
        <&macro_param_1to1>,
        <&kp MACRO_PLACEHOLDER>;        
    };
    excl: excl {
      compatible = "zmk,behavior-macro-one-param";
      #binding-cells = <1>;
      tap-ms = <0>;
      wait-ms = <0>;
      bindings = 
        <&macro_release LSHIFT>
        <&macro_tap &kp LS(DOT)>, 
        <&macro_param_1to1>,
        <&kp MACRO_PLACEHOLDER>;
    };
    
    dkc: circumflex {
      compatible = "zmk,behavior-dead-key";
      #binding-cells = <1>;
      dead-key = <C>;
    };
    dkl: latin {
      compatible = "zmk,behavior-dead-key";
      #binding-cells = <1>;
      dead-key = <RS(S)>;
    };    
    dkt: tilde {
      compatible = "zmk,behavior-dead-key";
      #binding-cells = <1>;
      dead-key = <RA(F)>;
    };    
    dkcd: cedilla {
      compatible = "zmk,behavior-dead-key";
      #binding-cells = <1>;
      dead-key = <RA(COMMA)>;
    };
    dkd: diaresis {
      compatible = "zmk,behavior-dead-key";
      #binding-cells = <1>;
      dead-key = <RA(L)>;
    };    
  };
  
  // Extra layers defined specifically for this keymap, appended to the base keymap.
  keymap {
    compatible = "zmk,keymap";

    one_dead_key {
      display-name = "OneDeadKey";
      bindings = <
        &kp RA(BSLH) &dkc A     &trans    &dkc E      &lquote  &trans             &trans         &rquote  &dkl I       &kp RA(O)  &dkc SEMI    &trans  
        &dkl RA(A)   &kp RA(A)  &dkl S    &kp RA(E)   &dkt F   &trans             &trans         &kp N8   &dkl K       &diar      &kp RA(SEMI) &trans
        &trans       &kp LS(C)  &kp RBKT  &kp LS(N3)  &lpar    &kp RA(B)          &kp LS(RA(N))  &rpar    &dkcd COMMA  &bang      &dkc L       &trans
                                        &osm LSHIFT  &trans    &comma TAB         &comment  &commsp &kp DOT
      >;
    };
    one_dead_key_shift {
      display-name = "OneDeadKeyShift";
      bindings = <
        &kp LS(RA(BSLH))  &dkc LS(A)     &trans        &dkc  LS(E)    &lquote     &trans              &trans         &rquote    &dkl LS(I)       &kp LS(RA(O))  &dkc LS(SEMI)      &trans  
        &trans            &kp LS(RA(A))  &dkl LS(S)    &kp LS(RA(E))  &dkt LS(F)  &trans              &trans         &kp LS(N8) &dkl LS(K)       &dkl LS(L)     &kp  LS(RA(SEMI))  &trans
        &trans            &kp LS(C)      &kp LS(RBKT)  &kp LS(N3)     &lpar       &kp LS(RA(B))       &kp LS(RA(N))  &rpar      &dkcd LS(COMMA)  &kp LS(DOT)    &dkc  LS(L)        &trans
                                                                 &trans  &trans   &excl TAB           &excl ENTER  &excl SPACE  &kp LS(DOT)
      >;
    };
  };  
};